body {
        font-family: "Times New Roman", Sans, serif;
        margin: 5;
        padding: 20px;
        background: CDA2AD;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .search-box {
        margin-bottom: 20px;
        width: 100%;
        max-width: 500px;
}
    .search-box input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid BF8896;
    font-size: 16px;
}
 .search-box input:focus {
  outline: 2px solid 6A3945;
}
.grid {
  column-count: 4;
  column-gap: 15px;
  max-width: 1200px;
  width: 100%;
}
.card {
  background: white;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 12px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  break-inside: avoid;
  transition: transform 0.2s;
  text-align: center;
}
.card:hover {
  transform: translateY(-5px);
}
h1, h2 {
  color: #b03060; 
  margin-top: 0;
}
p, li {
  font-size: 15px;
  color: #444;
}
ul {
  padding-left: 20px;
  margin: 0;
  text-align: left;
}
img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
button {
  background: #f8a5c2;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  transition: 0.3s;
}
button:hover {
  background: #f78fb3;
}
#quote {
  margin-top: 10px;
  font-style: italic;
  color: #b03060;
  min-height: 30px;
}